@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<html>
    <head>
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/CommerceProject.styles.css" asp-append-version="true" />
    </head>

    <body>
        <header>
            @*<div class="text-center">
                <h1 class="display-4">Welcome Page</h1>
                <p></p>
            </div>*@
        
            

        </header>


       
        <main>
           <div class="container">
            <div class="hero">
                <video autoplay loop muted plays-inline class="back-video">
                  <source src="Videos/backgroundVideo.mp4" type="video/mp4">
                </video>

                <div class="welcome">
                    <h1>fundrr</h1>
                    <h4> A special place to help those in need</h4>
                <a href="/StartFundraising/Create">Get started!</a>
                
                <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph.</p>
                </div>
            </div>
            </div>


        <h3 class="display-6"> Take a look at our top fundraisers! </h3>
            <!--Bootstrap card with info-->
            
            <div class="row">

                @foreach (var item in Model)
            {
                <div class="col-3">
                    <div class="card" style="height: 30rem">
                        <img class="card-img-top" src=@item.Imagelink alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Description</p>
                            <a asp-action="Index" asp-controller="Donation" class="btn btn-success" asp-route-id="@item.FundraiserID">Donate</a>

                        </div>
                        <div class="card-footer">
                            @*<div class="w3-light-grey">
                                <div class="w3-container w3-green w3-center" style="width: 18rem @item.Goals%">@item.Goals%</div>
                            </div>*@
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.Goals%" aria-valuemin="0" aria-valuemax="100" style="width:@item.Goals%">
                                @item.Goals%
                            </div>
                        </div>
                    </div>
                </div>

            }


                @* <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://images.pexels.com/photos/6010867/pexels-photo-6010867.jpeg?cs=srgb&dl=pexels-tima-miroshnichenko-6010867.jpg&fm=jpg&_gl=1" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Help for Emily</h5>
                            <p class="card-text">My name is Sarah Jenkins, Emily Jenkins is my daughter and I am asking for your help as the medical bills have...</p></p>
                        <a href="#" class="btn btn-primary">Donate</a>
                        </div>
                        <div class="card-footer">
                            <div class="progress-bar" role="progressbar" aria-valuenow="26"
                                    aria-valuemin="0" aria-valuemax="100" style="width:26%">
                                26%
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            </div>
          

            
           <div>
               <div style="text-align: right;">
                <img src="https://images.pexels.com/photos/160994/family-outdoor-happy-happiness-160994.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                </div>
            </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
            
         
        </main>

        <footer>
            
        </footer>
    </body>
</html>